.MainExploreWrapper{
    
    display: grid;
    grid-template-areas: 
    "left0 left0 right1 right2"
    "left0 left0 right1 right2"
    "left1 left1 right3 right4"
    "left1 left1 right3 right4";
    column-gap:30px ;
    row-gap: 20px;
}
.Box0{
    
    grid-area: left0;
    max-width: 555px;
}
.Box1{
    max-width: 555px;
    grid-area: left1;
}
.Box2{
    max-width: 263px;
    grid-area: right1;
}
.Box3{
    max-width: 263px;
    grid-area: right2;
}
.Box4{
    max-width: 263px;
    grid-area:right3 ;
}
.Box5{
    max-width: 263px;
    grid-area: right4;
}
@media screen and (max-width:1160px) {
    .MainExploreWrapper{
       grid-template-areas: 
        "left0 left0 "
        "left0 left0 "
        "left1 left1 "
        "left1 left1 "
        "right1 right2"
        "right1 right2"
        "right3 right4"
        "right3 right4"; 
    }
}
@media screen and (max-width:580px) {
    .MainExploreWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}