.class3 {
  color: #33333a;
  border: 1px solid #33333a;
}
.class1 {
  color: #33333a;
  text-decoration: none;
}
.class3:hover {
  border: 1px solid #33333a;
  color: white;
  background-color: #33333a;
  transition: 0.5s;
}
.TwoButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Validator {
  margin: 20px 0;
  text-align: center;
  width: 100%;
  color: tomato;
}
.Valid {
  visibility: hidden;
}
