.ShopWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 150px 60px 150px;
}

.ShopTile{
    color: rgba(51,51,58,1);
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 60px;
    padding-bottom: 30px;
}
