.QuantityCounter {
    border: 1px solid #dedede;
    display: flex;
    width: 120px;
    height: 40px;
  }
  .QuantityCounterMark {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #33333a;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .QuantityCounterText {
    color: rgba(81, 83, 86, 1);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }