.ListItem{
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    cursor:pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #33333A;
    text-transform: uppercase;
}
.ListItem:hover{
    color: tomato;
}
.active{
    color: tomato
}
.Logo{
    margin-left: var(--space-2xl-3xl);
    opacity: 1;
    color: rgba(82,82,82,1);
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 60px;
}
.MyUl{
    margin-left:40px ;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.LeftDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.BMenu{
    position: absolute;
    top: 2%;
    right: 2%;
}
@media screen and (max-width:800px) {
    .MyUl{
        visibility: hidden;
        display: none;
    }
    .BMenu{
        visibility: visible;
        display: block;
    }
}