.Footer{  

    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: rgba(51,51,58, 1);


}
.InnerFooterWrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}
.FooterWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 150px 40px 150px;
}




