.MainWrapper {
  padding: 40px 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
}
.ListItemText {
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  line-height: 40px;
}
.DataSide {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.TopWrapper {
  display: flex;
  justify-content: space-between;
}
.Reset {
  padding: 0 10px;
  border-radius: 50%;
  color: tomato;
  cursor: pointer;
}
.Reset:hover {
  background-color: #f3f3f3;
}
