.Image{
    margin: 0;
    width: 100%;
    max-width: 458px;
    height: 690px;
}
.Left{
    display: flex;
    flex: 1;
}
.ImgArray{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
@media screen and (max-width:660px) {
    .Left{
        flex-wrap: wrap;
        justify-content: center;
    }
    .ImgArray{
        flex-direction: row;        
    }
}