
.RightSide{

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #33333A;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
    height: 100%;
    width: 20%;
    
}
.MyImg {
    height: 20px;
    width: 20px;
}

.LogIn{
    text-decoration: none;
    text-transform: uppercase;
    cursor:pointer;
}
.LogInText{
    text-decoration: none;
}
.LogIn:hover{

    color: tomato;
}

@media screen and (max-width:800px) {
    .RightSide{
        visibility: hidden;
        display: none;
    }
    
}
