.SubMainContainer{
    margin-left: 50px;

}
.SubTitle{
    color: rgba(255,255,255,1);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 30px;
    margin-bottom: 20px;
}
.myForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.TwoInputs{
    display: flex;
}
.MyIcons {
    margin-right:10px ;
    margin-top: 30px;
    cursor:pointer;
}

@media screen and (max-width:860px) {
    .FooterWrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .SubMainContainer{
        margin-left: 0;
    
    }
}
